.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*** My css code ***/

/**
* Modal window settings
*/

.modal-header {
  background-color: #2298ce;
  color: white; 
}

/* Jumbotron settings */
.jumbotron {
  margin-bottom: 0px;
  padding: 1rem; }
  .jumbotron h1 {
    color: #2298ce; }
  .jumbotron p {
    color: #CE5922; }

.navbar-dark {
  background-color: #CE5922;
  position: relative; }
